.sprite11 {
   background: url('tardis-sheet.png') no-repeat -0 -0;
   width: 264px;
   height: 248px;
}
.sprite9 {
   background: url('tardis-sheet.png') no-repeat -265 -0;
   width: 275px;
   height: 250px;
}
.sprite13 {
   background: url('tardis-sheet.png') no-repeat -541 -0;
   width: 264px;
   height: 248px;
}
.sprite6 {
   background: url('tardis-sheet.png') no-repeat -0 -249;
   width: 264px;
   height: 248px;
}
.sprite10 {
   background: url('tardis-sheet.png') no-repeat -541 -249;
   width: 264px;
   height: 248px;
}
.sprite14 {
   background: url('tardis-sheet.png') no-repeat -265 -251;
   width: 265px;
   height: 245px;
}
.sprite12 {
   background: url('tardis-sheet.png') no-repeat -0 -498;
   width: 265px;
   height: 249px;
}
.sprite4 {
   background: url('tardis-sheet.png') no-repeat -266 -498;
   width: 264px;
   height: 248px;
}
.sprite1 {
   background: url('tardis-sheet.png') no-repeat -541 -498;
   width: 264px;
   height: 249px;
}
.sprite5 {
   background: url('tardis-sheet.png') no-repeat -0 -748;
   width: 265px;
   height: 248px;
}
.sprite3 {
   background: url('tardis-sheet.png') no-repeat -266 -748;
   width: 264px;
   height: 248px;
}
.sprite7 {
   background: url('tardis-sheet.png') no-repeat -531 -748;
   width: 272px;
   height: 248px;
}